<div class="row profile-heading pt-4">
    <div class="col-12 d-flex justify-content-center mb-4">
        <h1 class="display-4">Latest blogs from people you follow!</h1>
    </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4">
    {{#if reviews}}
    {{#each reviews}}
    <div class="col">
        <div class="card my-3 h-100 border-2">
            <div class="movie-list">
                <a href="/review/view?r={{_id}}">
                    <img src="https://image.tmdb.org/t/p/original/{{movie.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{movie.title}}</h5>
                        <p class="card-text">{{{coverDesc}}}</p>
                    </div>
                </a>
            </div>
            <div class="card-footer mt-auto d-flex justify-content-end">
                {{{editBtn user._id ../userId _id}}}
                {{{deleteBtn user._id ../userId _id}}}
                <small class="text-muted my-auto"> -
                    <a href="/user?u={{user._id}}" class="username-link">
                        {{userNamePick user.local.userName user.google.userName}}
                    </a></small>
            </div>
        </div>
    </div>
    {{/each}}
    {{else}}
    <div class="col-12 d-flex mx-auto profile-heading justify-content-center mt-5">
        <h3 class="text-muted">No blogs posted
            <i class="far fa-frown-open"></i>
        </h3>
    </div>
    {{/if}}
</div>