<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4">
    {{#if reviews}}
    {{#each reviews}}
    <div class="col my-4">
        <div class="card h-100 border-1">
            <div class="movie-list">
                <a href="/review/view?r={{_id}}">
                    <img src="https://image.tmdb.org/t/p/original/{{movie.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{movie.title}}</h5>
                        <p class="card-text">{{{coverDesc}}}</p>
                    </div>
                </a>
            </div>
            <div class="card-footer mt-auto d-flex justify-content-end">
                {{!-- <a href="#" class="btn btn-outline-danger shadow-none btn-sm mr-2 d-flex justify-content-center" role="button" data-toggle="button"
                    style="font-size: medium; border:none">
                </a> --}}
                {{!-- <button type="button" class="btn btn-outline-danger shadow-none btn-sm mr-2 d-flex justify-content-center" style="font-size: medium; border:none" data-bs-toggle="button" >
                    <i class="far fa-heart fa-lg align-self-center"></i>
                </button>
                <a href="#" class="btn btn-outline-success btn-sm mr-auto" style="font-size:medium; border:none">Read
                    more
                </a> --}}
                {{{editBtn user._id ../userId _id}}}
                {{{deleteBtn user._id ../userId _id}}}
                <small class="text-muted my-auto"> - <a href="/user?u={{user._id}}" class="username-link" >
                {{user.local.userName}}
                </a></small>
            </div>
        </div>
    </div>
    {{/each}}
    {{else}}
    <p>No reviews</p>
    {{/if}}
</div>