<div class="row profile-heading pt-4 mb-5">
  <div class="col-12 d-flex justify-content-center mb-4">
    <h1 class="display-4">Welcome to {{userNamePick userProfile.local.userName userProfile.google.userName}}'s Blogs!
    </h1>
  </div>

  <div class="col-12 d-flex justify-content-start">
    <h3 class="align-self-center mb-0">Blogs {{reviews.length}}</h3>
  </div>
  <div class="col-8 d-flex justify-content-start">
    <h3 class="align-self-center mb-0">Followers {{followersCount}}</h3>
  </div>
  <div class="col-4">
    <form action="/user/follow?id={{userProfile._id}}" method="POST" class="col-12 d-flex justify-content-end">
      <input type="hidden" name="_method" value="PUT">
      <button type="submit" class="btn btn-outline-info my-1">
        {{#if isFollowing}}
        Unfollow
        {{else}}
        Follow
        <i class="fas fa-plus"></i>
        {{/if}}
      </button>
    </form>
  </div>
</div>


<div class="row">
  <div class="col-md-10 col-12 mx-auto my-1 mb-5">
    <div class="col-12">
      <h1 style="color: #fafafa;">Posts</h2>
    </div>

    <div class="list-group">
      {{#if reviews}}
      {{#each reviews}}
      <a type="button" class="list-group-item list-group-item-action border-2 profile-list" data-bs-toggle="modal"
        data-bs-target="#review_id_{{_id}}">
        <div class="d-flex w-100 justify-content-between">
          <div class="col-8">
            <h5>{{title}}-
              <small class="text-muted">{{movie.title}}</small>
            </h5>
          </div>
          <small class="text-muted">{{formatDate createdAt}}</small>
        </div>
        <p class="mb-1 short-desc">{{coverDesc}}</p>
      </a>

      <div class="modal fade" id="review_id_{{_id}}" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-sm">
          <div class="modal-content">
            <div class="modal-body">
              <div class="col card h-100 border-2 movie-list" style="border-color:#101820">
                <a href="/review/view?r={{_id}}">
                  <img src="https://image.tmdb.org/t/p/original/{{movie.image}}"
                    onerror="this.onerror=null;this.src='../images/default.jpg';" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{movie.title}}</h5>
                    <p class="card-text">{{{coverDesc}}}</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="modal-footer bg-dark">
              <button class="btn btn-secondary me-auto" data-bs-dismiss="modal">Close</button>
              {{{deleteBtn user._id ../userId _id}}}
              {{{editBtn user._id ../userId _id}}}
              <a href="/review/view?r={{_id}}" type="button" class="btn btn-secondary">Read more</a>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
      {{else}}
      <div class="col-12 d-flex mx-auto profile-heading justify-content-center mt-5">
        <h3 class="text-muted">No blogs
          <i class="far fa-frown-open"></i>
        </h3>
      </div>
      {{/if}}
    </div>
  </div>
</div>