<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4 my-5">
    {{#each data}}
    <div class="col">
        <div class="card my-2 h-100 border-2">
            <div class="movie-list">
                <a href="/review/search?id={{id}}">
                    <img src='https://image.tmdb.org/t/p/original{{poster_path}}' class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{original_title}}</h5>
                        <p class="card-text">{{overview}}</p>
                    </div>
                </a>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{release_date}}</small>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<div class="row">
    <div class="col">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="btn {{#stringMatch page '1'}} disabled btn-secondary {{else}} btn-outline-info {{/stringMatch}}"
                        href="/movie?movie={{movie}}&page=1">First</a>
                </li>
                <li class="page-item mx-2">
                    <a class="btn {{#stringMatch page '1'}} disabled btn-secondary {{else}} btn-outline-info {{/stringMatch}}"
                        href="/movie?movie={{movie}}&page={{prevPage page}}">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                </li>

                {{#paginate page totalPages}}
                <li class="page-item d-none d-sm-block">
                    <a class="btn mx-1 {{#if this.activePage}} btn-dark disabled {{else}} btn-outline-dark {{/if}}"
                        href="/movie?movie={{../movie}}&page={{this.page}}">{{this.page}}</a>
                </li>
                {{/paginate}}

                <li class="page-item mx-2">
                    <a class="btn {{#stringMatch page totalPages}} disabled btn-secondary {{else}} btn-outline-info {{/stringMatch}}"
                        href="/movie?movie={{movie}}&page={{nextPage page}}">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a class="btn {{#stringMatch page totalPages}} disabled btn-secondary {{else}} btn-outline-info {{/stringMatch}}"
                        href="/movie?movie={{movie}}&page={{totalPages}}">Last</a>
                </li>
            </ul>
        </nav>
    </div>
</div>