<div class="row justify-content-center mb-5" style="margin-top: 5rem;">
    <div class="col-md-10 col-lg-9">
        <div class="col-12 d-flex mx-auto profile-heading justify-content-center">
            <h1 class="display-3">{{data.title}}</h1>
        </div>
        <h3 class="card-title profile-heading d-flex justify-content-end">
            <a href="/user?u={{data.user._id}}" class="username-link">{{data.user.local.userName}}</a>
            <h6 class="d-flex justify-content-end">
                <small class="text-muted">{{formatDate data.createdAt}}</small>
            </h6>
        </h3>
        <div class="card" style="background-color: #2F3742">
            <div class="card-body" style="color: #fafafa;">
                {{{data.body}}}
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 10rem;">
    <div class="col-12 d-flex mx-auto profile-heading justify-content-start my-3">
        <h3 class="text-muted"> Comments </h3>
    </div>
    <div class="col-12 d-flex flex-row">
        <form action="/review/comment?r={{data._id}}" method="POST" class="col s12">
            <input type="hidden" name="_method" value="PUT">
            <div class="col-11 d-flex flex-column justify-content-center mb-4">
                <textarea name="comment" id="comment" autocomplete="off" placeholder="Add a comment..." class="comment"
                    required></textarea>
            </div>
            <div class="col-11 d-flex justify-content-end mb-3">
                <input type="submit" value="Post" class="btn btn-outline-warning mx-1">
            </div>
        </form>
    </div>
    {{#if comments}}
    {{#each comments}}
    <div class="col-12 d-flex flex-wrap">
        <div class="col-12 d-flex ms-2">
            <h3 class="profile-heading d-flex justify-content-start">
                <a href="/user?u={{user._id}}" class="username-link">{{user.local.userName}}</a>
            </h3>
            <small class="text-muted ms-2 align-self-end mb-2">{{formatDate postedAt}}</small>
        </div>
        <div class="col ms-4 mt-2" style="color: #fafafa;">
            <p>{{comment}}</p>
        </div>
        <div class="col-12">
            <hr style="color: #fafafa;">
        </div>
    </div>
    {{/each}}
    {{/if}}
</div>

<script>
    const txHeight = 32;
    const tx = document.getElementsByTagName("textarea");
    for (let i = 0; i < tx.length; i++) {
        if (tx[i].value == '') {
            tx[i].setAttribute("style", "height:" + txHeight + "px;overflow-y:hidden;");
        } else {
            tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
        }
        tx[i].addEventListener("input", OnInput, false);
    }

    function OnInput(e) {
        this.style.height = "32px";
        this.style.height = (this.scrollHeight) + "px";
    }
</script>